.lavalamp{
  /* animation properties */
  animation-name: animation-main;
  animation-duration: 18s;
  animation-direction: alternate;
  animation-iteration-count: infinite;
  animation-timing-function: linear;
  position: relative;
  overflow: hidden;
  
  /* other properties */
  width: 500px;
  height: 500px;
  border-radius: 10px;
  position: absolute;
  left: 0; 
  right: 0px; 
  margin: 20px;

}

@keyframes animation-main {
  from {
    background-color: #9ed139;
    width: 500px;
    height: 500px;
    top: 100px;
  }
  to {
    background-color: #33475b;
    height: 500px;
    width: 100px;
    top: 100px;
  }
}



.ani{
  /* animation properties */
  animation-name: animation-1;
  animation-duration: 2s;
  animation-direction: alternate;
  animation-iteration-count: infinite;
  animation-timing-function: linear;
  
  /* other properties */
  width: 300px;
  height: 100px;
  border-radius: 10px;
  position: absolute;
  left: 0; 
  top: 0;
  margin-left: 20px;
  margin-right: auto;


}

@keyframes animation-1 {
  from {
    background-color: #ff7a59;
    width: 300px;
    top: 0px;
    left: 0px;
  }
  to {
    background-color: #33475b;
    width: 52px;
    top: 300px;
    left: 300px;
  }
}


.bni{
  /* animation properties */
  animation-name: animation-2;
  animation-duration: 2s;
  animation-direction: alternate;
  animation-iteration-count: infinite;
  animation-timing-function:cubic-bezier(0.175, 0.885, 0.32, 1.275);
  
  /* other properties */
  width: 30px;
  height: 100px;
  border-radius: 10px;
  position: absolute;
  left: 1; 
  right: 0; 
  top: 0;
  margin-left: auto;
  margin-right: auto; 

}

@keyframes animation-2 {
  from {
    background-color: #ff7a59;
    width: 100px;
    top: 10px;
    border-radius: 0;
  }
  to {
    background-color: #33475b;
    width: 100px;
    top: 100px;
    border-radius: 50%;
  }
}

.square {
    position: absolute;
    width: 60px;
    height: 60px;
    background-color: #e27d60;
    animation-name: square-bounce;
    animation-duration: 3s;
    animation-direction: alternate;
    animation-iteration-count: infinite;
    animation-timing-function: ease-in-out;
}

@keyframes square-bounce {
    from {
        top: 0;
        left: 200px;
    }
    to {
        top: 440px;
        left: 200px;
    }
}

.circle {
    position: absolute;
    width: 50px;
    height: 50px;
    border-radius: 50%;
    background-color: #e8a87c;
    animation-name: circle-bounce;
    animation-duration: 3.5s;
    animation-direction: alternate;
    animation-iteration-count: infinite;
    animation-timing-function: ease-in-out;
}

@keyframes circle-bounce {
    from {
        top: 400px;
        left: 50px;
    }
    to {
        top: 0;
        left: 450px;
    }
}