body {
  display: flex;
  border: 4px black solid;
  justify-content: center;
  align-items: center;
  background-image: url(background.jpg);
  width: 1240px;
  height: 550px;
  background-size: cover;
}

.lava-lamp::before {
  content: "";
  position: absolute;
  width: 190px;
  height: 15px;
  background: radial-gradient(circle, rgba(255, 149, 56, 0.5), transparent);
  top: 492px;
  left: 10px;
  border-radius: 50%;
}

.lava-lamp {
  width: 200px;
  height: 500px;
  background: linear-gradient(
    to bottom,
    rgba(217, 27, 25, 0.5),
    rgba(242, 102, 4, 0.5)
  );
  border-radius: 100px 100px 50px 50px;
  position: relative;
  overflow: hidden;
  box-shadow: 0px 0px 15px rgba(0, 0, 0, 0.5);
  border-bottom: 15px solid #313131;
}

.lava-lamp::after {
  content: "";
  position: absolute;
  width: 100%;
  height: 20px;
  top: 0;
  left: 0;
  background: linear-gradient(to bottom, #313131, #434343);
  border-top-left-radius: 100px;
  border-top-right-radius: 100px;
}

.blob {
  position: absolute;
  background-color: #f00;
  border-radius: 50%;
  animation: moveBlobBase;
  bottom: 0px;
  left: 50%;
  animation-timing-function: ease-in-out;
  animation-iteration-count: infinite;
  box-shadow: 0 0 15px 2px rgba(255, 69, 0, 0.7);
  transition: background-color 0.5s ease, transform 0.5s ease;
}

@keyframes moveBlobBase {
  0%,
  100% {
    bottom: -30px;
    background-color: rgba(254, 168, 1, 1);
    transform: scale(1.1, 0.9) rotate(0deg);
  }

  10% {
    background-color: rgba(250, 157, 7, 1);
    transform: scale(1.1, 0.9) rotate(10deg);
  }

  20% {
    background-color: rgba(246, 146, 14, 1);
    transform: scale(1, 1) rotate(20deg);
  }

  30%,
  70% {
    background-color: rgba(241, 134, 20, 1);
    transform: scale(1, 1) rotate(0deg);
  }

  45% {
    bottom: 450px;
    background-color: rgba(237, 122, 26, 1);
    transform: scale(1.12, 0.92) rotate(-10deg);
  }

  50% {
    bottom: 450px;
    background-color: rgba(232, 111, 31, 1);
    transform: scale(1.15, 0.95) rotate(0deg);
  }

  55% {
    bottom: 450px;
    background-color: rgba(237, 122, 26, 1);
    transform: scale(1.18, 0.98) rotate(10deg);
  }

  80% {
    background-color: rgba(241, 134, 20, 1);
    transform: scale(1, 1) rotate(20deg);
  }

  90% {
    background-color: rgba(246, 146, 14, 1);
    transform: scale(1, 1) rotate(10deg);
  }
}

.blob1 {
  width: 87.5px;
  height: 75px;
  background: radial-gradient(
    circle,
    rgba(255, 100, 0, 0.7),
    rgba(254, 168, 1, 0.7)
  );
  left: 15%;
  animation-duration: 25s, 3s;
  animation-delay: 2s, 0.5s;
}

.blob2 {
  width: 50px;
  height: 62.5px;
  background: radial-gradient(
    circle,
    rgba(226, 125, 19, 0.9),
    rgba(226, 109, 19, 0.9)
  );
  animation-duration: 23s, 3.5s;
  animation-delay: 1s, 0.5s;
}

.blob3 {
  width: 112.5px;
  height: 87.5px;
  background: radial-gradient(
    circle,
    rgba(254, 168, 1, 1),
    rgba(226, 109, 19, 1)
  );
  animation-duration: 27s, 2.5s;
  animation-delay: 3s, 1s;
  clip-path: ellipse(90% 80% at 50% 50%);
}

.blob4 {
  width: 75px;
  height: 56.25px;
  background: radial-gradient(
    circle,
    rgba(226, 120, 19, 0.8),
    rgba(254, 145, 1, 0.8)
  );
  bottom: 0px;
  left: 25%;
  animation-duration: 24s, 2.8s;
  animation-delay: 4s, 0.2s;
}

.blob5 {
  width: 100px;
  height: 112.5px;
  background: radial-gradient(
    circle,
    rgba(254, 138, 40, 0.6),
    rgba(226, 95, 19, 0.6)
  );
  left: 10%;
  animation-duration: 29s, 3.2s;
  animation-delay: 5s, 0.8s;
  clip-path: ellipse(80% 90% at 50% 50%);
}

.blob6 {
  width: 87.5px;
  height: 75px;
  background: radial-gradient(
    circle,
    rgba(254, 158, 10, 0.7),
    rgba(226, 105, 19, 0.7)
  );
  animation-duration: 23s, 3s;
  animation-delay: 6s, 0.6s;
}

.blob7 {
  width: 62.5px;
  height: 50px;
  background: radial-gradient(
    circle,
    rgba(226, 115, 19, 0.9),
    rgba(254, 138, 20, 0.9)
  );
  left: 80%;
  animation-duration: 21s, 2.7s;
  animation-delay: 3s, 0.4s;
}

.blob8 {
  width: 75px;
  height: 87.5px;
  background: radial-gradient(
    circle,
    rgba(254, 148, 25, 0.9),
    rgba(226, 102, 19, 0.5)
  );
  left: 0%;
  animation-duration: 23s, 3.7s;
  animation-delay: 2s, 0.4s;
}

.blob4,
.blob6,
.blob8 {
  opacity: 0.9;
}

.blob5,
.blob7 {
  opacity: 0.85;
}
